:root{
    --clr-primary-red: hsl(1, 90%, 64%);
    --clr-primary-blue: hsl(219, 85%, 26%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grayish-blue-100: hsl(210, 60%, 98%);
    --clr-neutral-grayish-blue-200: hsl(211, 68%, 94%);
    --clr-neutral-grayish-blue-300: hsl(205, 33%, 90%);
    --clr-neutral-grayish-blue-400: hsl(219, 14%, 63%);
    --clr-neutral-grayish-blue-500: hsl(219, 12%, 42%);
    --clr-neutral-grayish-blue-600: hsl(224, 21%, 14%);

    --ff: 'Plus Jakarta Sans', sans-serif;
    --fw-500: 500;
    --fw-800: 800;
}

/* utility classes */
.text-color-blue{
    color: var(--clr-primary-blue);
}
.fw-bold{
    font-weight: var(--fw-800);
}

/* general */
body{
    font-family: var(--ff);
    background-color: var(--clr-neutral-grayish-blue-100);
    align-content: center;
    color: var(--clr-neutral-grayish-blue-500);
}
h2{
    color: var(--clr-neutral-grayish-blue-600);
    align-self: center;
}
img{
    height: 3rem;
    width: 3rem;
}

.chess:hover{
    cursor: pointer;
}
.container{
    --max-width: 43.625rem;
    --padding: 1rem;
    width: min(var(--max-width),(100% - var(--padding)*2) );
    padding: 1rem;
    margin-inline: auto;
    background-color: var(--clr-neutral-white);
}
.dot{
    width: .375rem;
    height: .375rem;
    background-color: red;
    border-radius: 1rem;
    margin-top: .625rem;
}
.hover:hover{
    color: var(--clr-primary-blue);
    cursor: pointer;
}
.name{
    color:var(--clr-neutral-grayish-blue-600)
}
.notification{
    display: flex;
    gap: 1rem;
    padding-right: .625rem;
}
.notification P{
    align-self: center;
}
.notification > p:nth-child(2){
    background-color: var(--clr-primary-blue);
    padding-inline: .5rem;
    color: var(--clr-neutral-white);
    border-radius: .3rem;
}
.notification-card{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .3125rem;
}

div.notification-card:nth-child(5) > img:nth-child(3){
    margin-left: auto;
}
.notifications{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.notifications > p:nth-child(2):hover{
    cursor: pointer;
    color: var(--clr-primary-blue);
}
.private{
    border: thin solid var(--clr-neutral-grayish-blue-300);
    padding: 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
}
.private:hover{
    background-color: var(--clr-neutral-grayish-blue-200);
    cursor: pointer;
}
.text{
    display: flex;
    gap: .25rem; 
}
.unread{
    background-color: var(--clr-neutral-grayish-blue-100);
}
div.unread:nth-child(1) > div:nth-child(2) > p:nth-child(1) > span:nth-child(2){
    color:var(--clr-neutral-grayish-blue-500)
}
@media(max-width:50em){
    body{
        font-size: .8125rem;
    }
}